<div class="banner-all-pages">
  <div class="container">
    <h1><strong>Your Bookings</strong></h1>

  </div>
</div>

<div class="container">
    <% @bookings.each do |booking| %>
      <div class="m-3">
        <div class="card-booking">
          <% if booking.sauna.photo.attached? %>
            <%= cl_image_tag(booking.sauna.photo.key)%>
          <% else %>
             <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <% end %>
          <div class="card-booking-infos">
            <div>
              <h2><%= booking.date %> | <%= link_to booking.sauna.name, sauna_path(booking.sauna), class: "link-color-card" %></h2>
              <p><%= booking.sauna.description %></p>
              <p>Seats count: <strong><%= booking.sauna.seat %></strong></p>
              <p>Temperature: <strong><%= booking.sauna.temperature %>°</strong> </p>
            <!--   <%= link_to "Cancel booking",
                                booking_path(booking),
                                method: :delete,
                                data: { confirm: "Are you sure?" } %> -->
            </div>
            <div class="review-button-index">
              <p><%= link_to "Review Sauna", new_sauna_review_path(booking.sauna), class: "btn-review" %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
</div>


