<div class="banner-all-pages">
  <div class="container">
    <h1><strong>My Bookings</strong></h1>
  </div>
</div>

<div class="container booking-review">
  <div class="mybooking">
    <h1 class="h1-review">My Sauna Bookings</h1>
    <% @my_bookings.each do |booking| %>
      <div class="m-3">
        <div class="card-booking">
          <% if booking.sauna.photo.attached? %>
            <%= cl_image_tag(booking.sauna.photo.key)%>
          <% else %>
             <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
          <% end %>
          <div class="card-booking-infos">
            <div>
              <h2 class="pt-1"><%= booking.date %> | <%= link_to booking.sauna.name, sauna_path(booking.sauna), class: "link-color-card" %></h2>
              <p><%= booking.sauna.description %></p>
              <p>Seats: <strong><%= booking.sauna.seat %></strong> | Temperature: <strong><%= booking.sauna.temperature %>°</strong></p>
              <% if booking.accepted %>
                <p>Booking Accepted</p>
              <% elsif booking.accepted == false %>
                <p>Booking Rejected</p>
              <% else %>
                <p>Booking Pending</p>
              <% end %>
            </div>
            <div class="div-review-btn">
              <p><%= link_to "Review Sauna", new_sauna_review_path(booking.sauna), class: "btn btn-all-pages review-button-index" %></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>



  <div class="myrequest">
    <% if current_user.saunas.any? %>
      <h1 class="pb-2">My Sauna Requests</h1>
      <% if @my_requests.empty? %>
        <p>No requests</p>
       <% end %>
    <% @my_requests.each do |booking| %>

      <div class="myrequest-flex">
      <div class="card-booking-request">
        <div>
          <h2 class="card-review-h2 pb-3"><%= booking.date %> | <%= booking.user.first_name %></h2>
          <% if booking.accepted.nil? %>
        </div>
        <div>
          <%= link_to "Accept", accept_booking_path(booking), method: :patch, class: "btn btn-all-pages card-booking-request-btn" %>
          <%= link_to "Reject", reject_booking_path(booking), method: :patch, class: "btn btn-all-pages card-booking-request-btn" %>
        </div>
          <% elsif booking.accepted %>
            <p>Booking accepted</p>
          <% else %>
            <p>Booking rejected</p>
          <% end %>
      </div>
      </div>
    <% end %>
    <% end %>
  </div>
</div>


