<div class="container">
  <h1>Your bookings</h1>

  <% @bookings.each do |booking| %>
  <strong><%= link_to booking.sauna.name, sauna_path(booking.sauna) %></strong>
    <ul>
      <li><%= booking.date %></li>
      <li><%= booking.sauna.temperature %></li>
      <li><%= booking.sauna.seat %> seat</li>
      <li><%= link_to "Show this booking", booking_path(booking) %> </li>
    </ul>
  <% end %>

</div>
