<div class="container">
  <h1>Show Booking</h1>

  <ul>
      <li><%= @booking.date %> </li>
      <li><%= @booking.sauna.name %> </li>
      <li><%= @booking.sauna.description %> </li>
      <li><%= @booking.sauna.temperature %> degres Celsius </li>
      <li><%= @booking.sauna.seat %> seats</li>
  </ul>
</div>
