<div class="banner-all-pages">
  <div class="container">
    <h1>Your bookings</h1>
  </div>
</div>

<div class="container">
  <h1>Show Booking</h1>

  <ul>
      <li><%= @booking.date %> </li>
      <li><%= @booking.sauna.name %> </li>
      <li><%= @booking.sauna.description %> </li>
      <li><%= @booking.sauna.temperature %>°</li>
      <li><%= pluralize(@booking.sauna.seat.to_i, "seat") %></li>
      <li><%= link_to "Cancel booking",
                      booking_path(booking),
                      method: :delete,
                      data: { confirm: "Are you sure?" } %></li>
  </ul>
</div>


