<h1>Change details of <strong><%= @sauna.name %></strong>!</h1>

  <div class="form-inputs">
    <%= simple_form_for @sauna do |f| %>
    <%= f.input :description %>
    <%= f.input :temperature %>
    <%= f.input :seat %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Confirm changes", class: "btn-flat" %>
    <% end %>
  </div>
