<div class="container">
  <div class="form-title", style="margin-bottom: 30px">
    <h1><strong>Offer your Hotbox</strong></h1>
  </div>

  <div class="form-sauna">
    <%= simple_form_for @sauna do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :temperature, collection: ["60", "70", "80", "90", "100", "110"] %>
    <%= f.input :seat, collection: 1..10 %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Add Sauna", class: "btn btn-all-pages" %>
    <% end %>
  </div>
</div>
