<div class="container">
<h1>Offer your Hotbox</h1>

  <div class="container">
    <%= simple_form_for @sauna do |f| %>
    <%= f.input :description %>
    <%= f.input :temperature %>
    <%= f.input :seat %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Add Sauna", notice: "Sauna has been added to your profile" %>
    <% end %>
  </div>
</div>
