<div class="container">
  <div class="text-center pt-3">
    <h1>Offer your Hotbox</h1>
  </div>

  <div class="container">
    <%= simple_form_for @sauna do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :description %>
    <%= f.input :temperature, collection: ["60", "70", "80", "90", "100", "110"] %>
    <%= f.input :seat, collection: 1..10 %>
    <%= f.input :photo, as: :file %>
    <%= f.submit "Add Sauna", notice: "Sauna has been added to your profile", class: "btn-flat" %>
    <% end %>
  </div>
</div>
