<h1><%= @sauna.name %></h1>


<div class="container">
  <ul>
    <li><%= @sauna.description %></li>
    <li>Temperature: <%= @sauna.temperature %>°</li>
    <li>Number of seats: <%= pluralize(@sauna.seat.to_i, "seat") %></li>
    <li>
      <% if @sauna.photo.attached? %>
        <%= cl_image_tag @sauna.photo.key, height: 800, width: 900, crop: :fill %>
      <% end %>
    </li>
  </ul>
</div>

<div class="container">
  <%= simple_form_for [@sauna, @booking] do |f| %>
      <%= f.input :date, :as => :date %>
      <%= f.submit "Book your sauna" %>
  <% end %>
</div>

<div class="container">
  <%= link_to "Change details", edit_sauna_path(@sauna) %>
</div>
