<div class="container">
  <h1 class="title-show mb-4"><strong><%= @sauna.name %></strong></h1>

  <div class="img-sauna">
    <% if @sauna.photo.attached? %>
      <%= cl_image_tag @sauna.photo.key, height: 300, width: 600, crop: :fill %>
    <% end %>
  </div>

  <div>
    <ul class="show-list">
      <li><%= @sauna.description %></li>
      <li>Temperature: <%= @sauna.temperature %>°</li>
      <li>Number of seats: <%= pluralize(@sauna.seat.to_i, "seat") %></li>
    </ul>
    <%= simple_form_for [@sauna, @booking] do |f| %>
      <%= f.input :date, :as => :date %>
      <%= f.submit "Book Sauna", class: "btn btn-all-pages" %>
    <% end %>
  </div>

  <%# <% <%= link_to "Change details", edit_sauna_path(@sauna) %>
</div>
